*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    width: 600px;
    height: 500px;
    background-color: #FFFFFF;
    margin: 10% auto;
    border-radius: 5px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
    position: relative;
}
.sidebox{
    width: 280px;
    height: 350px;
    background-color: #9DE20F;
    position: absolute;
    top: 40px;
    left: -40px;
    border-radius: 5px;
    box-shadow: #2c302a 5px 10px 10px;
} 
.apple{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 10px;
    left: -50px;
    filter: drop-shadow(5px 5px 5px #2c302a);
}
.material-symbols--share { 
  display: inline-block;
  width: 24px;
  height: 24px;
  /* padding: 10px; */
  padding-left: 30px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f0e6e6' d='M17 22q-1.25 0-2.125-.875T14 19q0-.15.075-.7L7.05 14.2q-.4.375-.925.588T5 15q-1.25 0-2.125-.875T2 12t.875-2.125T5 9q.6 0 1.125.213t.925.587l7.025-4.1q-.05-.175-.062-.337T14 5q0-1.25.875-2.125T17 2t2.125.875T20 5t-.875 2.125T17 8q-.6 0-1.125-.213T14.95 7.2l-7.025 4.1q.05.175.063.338T8 12t-.012.363t-.063.337l7.025 4.1q.4-.375.925-.587T17 16q1.25 0 2.125.875T20 19t-.875 2.125T17 22'/%3E%3C/svg%3E");
}
.line-md--heart {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right;
  padding: 10px;
  padding-right: 30px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23f0e6e6' stroke-dasharray='30' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8c0 0 0 0 -0.76 -1c-0.88 -1.16 -2.18 -2 -3.74 -2c-2.49 0 -4.5 2.01 -4.5 4.5c0 0.93 0.28 1.79 0.76 2.5c0.81 1.21 8.24 9 8.24 9M12 8c0 0 0 0 0.76 -1c0.88 -1.16 2.18 -2 3.74 -2c2.49 0 4.5 2.01 4.5 4.5c0 0.93 -0.28 1.79 -0.76 2.5c-0.81 1.21 -8.24 9 -8.24 9'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='30;0'/%3E%3C/path%3E%3C/svg%3E");
}
.small-apple{
    width: 280px;
    height: 70px;
    position: absolute;
    top: 350px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: #2c302a 5px 10px 10px;
}
.apple1{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid rgba(172, 170, 170, 0.589);
    border-radius: 5px;
}
.apple2{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid rgba(172, 170, 170, 0.589);
    border-radius: 5px;
}
.apple3{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid rgba(172, 170, 170, 0.589);
    border-radius: 5px;
}
.apple4{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid rgba(172, 170, 170, 0.589);
    border-radius: 5px;
}
.details{
    position: absolute;
    top: 10px;
    left: 310px;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder 4px;
    color: #4C4C4C;
    /* position: absolute;
    bottom: 180px; */
}
.code{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #BCB9BA;
    /* position: absolute;
    bottom: 150px; */
}
.code1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #FF3F40;
}
.price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 42px;
    color: #FF3F40;
} 
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #BCB9BA; 
}
button{
    width: 150px;
    height: 50px;
    margin-top:20px;
    padding:10px 20px;
    background:#ff4b2b;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

